p {
    text-align: justify;
    text-justify: inter-w[ord];
    /* width:120%; */
    font-size: 18px;
   }

img{
    border: 1px solid white;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    /* line-height: 200px; */
    text-align: center;
    position:relative;
}

